:root{
  --primary-color: blue;
  --secondary-color: rgb(52, 112, 176);
}

.slideshow {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
  padding: 5px;
}

.slideshow-image {
  margin: 20px 0;
  border: 2px solid var(--secondary-color);
  transition: transform 0.3s ease;
}

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px;
  width: 100%;
  max-width: 300px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: var(--primary-color);
}

.controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .controls {
    grid-template-columns: 1fr; 
  }
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  border-radius: 8px;
}

.thumbnail {
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1); 
}

.zoomed {
  transform: scale(1.25);
}
